* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}


.box1 {
  /* background-color:pink; */
  background-color:#800000;
  width:100%;
  height:2150px;
  text-align:center;
}

.ticket {
  width:100%;
  height:520px;
  background-color:#800000;
  float:left;
  margin-top:300px;
  
}

.ticket img {
  width:800px;
  height:520px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.message img {
  width:750px;
  height:600px;
  position:absolute;
  top:680px;
  right:100px;
}

.logo img {
  width:600px;
  height:550px;
  margin-top:320px;
}



/*アニメーション*/

.updown {
  animation: updown 1.7s infinite ease-in-out alternate;
}
.roll {
  animation: roll 3s infinite ease-in-out alternate;  
}

@keyframes updown {
  0% {transform: translateY(-5px)}
  100% {transform: translateY(5px);}
}

@keyframes roll {
  0% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}


